@import url(https://fonts.googleapis.com/css?family=Roboto:400,100italic,300italic,700,700italic);
*{  padding:0px;  margin:0px;  font-family: 'Roboto', sans-serif;  outline: none;}

body,html{  width: 100%;  height: 100%}

#footer-hangouts{  height: 100px;}
#header-hangouts{ 
   position: fixed;
   margin-bottom: 10px;  background: #146E87;
}
#header-hangouts figure { text-align: center; }
#header-hangouts img{  
  width: 100%;
  max-height: 150px;
}
#header-hangouts h1{  line-height: 80px;  color: white;  font-style: italic;  font-weight: 500;  }

#destaque{  background: black;  padding-top: 130px;  padding-bottom: 25px;  text-align: center;}
#destaque iframe{    border: none;}
#destaque hgroup{  color: white;  font-weight: 500;}
#destaque hgroup h2{  margin-top: 10px;  font-weight: 500;  font-style: italic;}
#destaque hgroup h3{      display: inline-block;    padding-top: 15px;    margin-top: 20px;    border-top: 1px solid white;}
#destaque hgroup h3 a{  color: #f0bc00;  font-weight: 500;  text-decoration: none;}

#filtro{  margin-top: 20px;  margin-bottom: 20px;}
#filtro input{  width: 100%;  font-size: 2.5rem;  border:none;  font-style: italic;  border-bottom: 1px solid #f0bc00;  transition: 0.3s all;}
#filtro input:focus{   border-bottom: 3px solid #f0bc00;    transition: 0.3s all;}

.hangout{  margin-bottom: 20px;}
.hangout img{  width: 100%;  border-radius: 5px;  height: 180px;}
.hangout a{  color: black;  font-weight: 800;  text-decoration: none;}
.hangout p{  margin-top: 15px;  margin-bottom: 5px;}


@media (max-width: 750px){
  #header-hangouts{
    text-align: center;
  }
  #header-hangouts img{
    width: initial;
  }
}
@media (min-width: 750px) and (max-width: 1024px){
 #destaque iframe{
    min-height: 300px;
  }
}
@media (min-width: 1024px){
  #header-hangouts{
    height: 80px;
  }
  #destaque iframe{
    min-height: 400px;
  }
}